/* Layer-Menü */
#layerMenu {
  background: #222;
  color: #eee;
  padding: .5em 1em;
  font-size: .9em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
#layerMenu label { cursor: pointer; }

/* Animationen */
.leaflet-tile-container { transition: opacity 0.3s ease; }

.supercell-circle { transition: opacity 0.3s ease; }

/* Set full height for page and map */
html, body, main {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set the map container size */
#map {
  height: 80vh;
  width: 100%;
